<div class="container">
  <div *ngIf="!parkings" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="parkings" class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let parking of parkings">
        <div class="row">
          <app-parking [isPeriodSelected]="!reservationService.isReserveFromNow" [parking]="parking"
            [id]="parking.id"></app-parking>
        </div>
      </div>
    </div>
  </div>
</div>
















<!-- <div class="container">
  <div *ngIf="!parkings" class="spinner-border" style="margin: auto;
width: 100px;
height: 100px;" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="parkings" class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
       <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]"> 
     <div *ngIf="isloaded==true && parkings !== null && parkings.length >0"> 
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let parking of parkings">
        <div class="row">

         <h4 class="item" style="text-align:center">Parking</h4> 


          
          <app-parking [isPeriodSelected]="false" [parking]="parking" [id]="parking.id"></app-parking> 
          <app-parking [isPeriodSelected]="!reservationService.isReserveFromNow" [parking]="parking" [id]="parking.id"></app-parking>
        </div>
      </div>
    </div>
  </div>
</div> -->