.parking {
  display: inline-block;
  display: inline-table;
  border-top-left-radius: 100%;
  rotate: 20;
  object-position: 500px;
  /* border-radius: 18px; */
  padding: 40px;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.2px rgb(110, 94, 148), 0 0 25px rgb(88, 88, 118), 0 0 5px rgb(101, 101, 180);

}

.content {
  padding: 16px;
}

.content>mat-card {
  width: 200px;
}

.mat-card-header {
  margin: auto;
}

.mat-card {
  min-height: 432px;
  background-color: #688aac;
  border-radius: 30px;
  user-select: none;
  border: solid #31363c 1px;
  box-shadow: inset 0 0 10px #31363c;
}