<section class="time-picker" ontouchstart>
  <header>
    <div class="time-hhmm">
      <label>
        <input type="radio" name="hhmm" value="hh" [(ngModel)]="hhmm" (ngModelChange)="auto = false" />
        <span [innerText]="hour"></span>
      </label>
      <span>:</span>
      <label>
        <input type="radio" name="hhmm" value="mm" [(ngModel)]="hhmm" />
        <span [innerText]="minute"></span>
      </label>
    </div>
    <div class="time-ampm">
      <button type="button" class=" btn-primary btn-sm ampm" (click)="check('am')">AM</button>
      <button type="button" class=" btn-primary btn-sm ampm" (click)="check('pm')">PM</button>
    </div>
  </header>
  <article>
    <h3 class="ampm-value">{{ampm}}</h3>
    <div class="time-dial">
      <label *ngFor="let item of dial" [ngStyle]="item">
        <input type="radio" name="time" [value]="item[hhmm]" [ngModel]="hhmm === 'hh' ? hour : minute"
          (ngModelChange)="timeChange($event)" />
        <div [innerText]="item[hhmm]"></div>
      </label>
      <div class="hand" [style.transform]="rotateHand()"></div>
    </div>
  </article>
  <footer>
    <button (click)="ok()" id="closeModalButton" [hidden]="false" data-toggle="modal" data-target="#myModal"
      class="btn btn-default" data-dismiss="modal">Ok</button>
    <button id="closeModalButton" [hidden]="false" data-toggle="modal" data-target="#myModal" class="btn btn-default"
      data-dismiss="modal" (click)="cancel()">Cancel</button>
  </footer>
</section>