<mat-card class="mat-elevation-z4 mat-card" >
  <mat-card-header>
    <mat-card-title>резервация: {{reservation.id}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../../../assets/reservation.png.png" />
  <mat-card-content>
    <p class="email">{{reservation.user?.email}}</p>
    <p>Платена от: {{reservation.startReservationPeriod| date:'short'}}</p>
    <p>Платена до: {{reservation.endReservationPeriod | date:'short'}}</p>
    <p>Започва след: {{getDayDiff(reservation!.startReservationPeriod)}} мин</p>
    <!-- <p *ngIf="reservation.ca">Can Start early</p>  -->
    <p>Цена: {{reservation.price}}лв</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="isActivationEnabled()" (click)="activateReservation()">Активиране</button>
  </mat-card-actions>
</mat-card>