.info-head {
    display: flex;
    color: #9cb650;
    justify-content: center; display: flex;
    justify-content: center; font-size: x-large;
        text-align: center;
        font-family: cursive;
        color: #748f7a;
}