<div style="overflow-y: auto; height:100%; padding: 8%;">
    <h2 style="text-align: center;">ИНСТРУКЦИИ ЗА УПОТРЕБА НА ПРИЛОЖЕНИЕТО</h2>
    <div>
        <p>Чрез приложението можете да намерите актуална информация за регистрираните в него паркинги, както и актуална
            иформация за налични свободни места в тях в реално време.</p>
        <p>Чрез регистриране на акаунт получавате достъп до следните преимущества:</p>
        <ul>
            <li>резервиране на парко място за период в бъдещата 1 година с продължителност до 1 месец;</li>
            <li>резервиране на парко място за период започващ от момента на резервацията с продължителност до 1 месец
            </li>
            <li>добавяне на 1 час към резервацията в случай, че е възможно, паркингът да поеме удълженият ви престой
            </li>
        </ul>
        <h3 style="text-align: center;">ОБЩИ ПРАВИЛА ЗА ПОЛЗВАНЕ ЗА РЕГИСТРИРАН ПОТРЕБИТЕЛ</h3>
        <p>
            1. За да използва някой от регистрираните паркинги в системата, потребителят трябва да направи резервация.
            За да се създаде такава, трябва да е идентифициран
            в своят профил, да избере периода, за който иска да ползва паркинга и съответно да заплати стойността на
            престоят му, според ценоразписа на избраният паркинг.
            Плащането става чрез "payPal" платформата като има възможност за плащане с дебитна карта. При наличие на
            "паркинг кредити" в акаунта на клиентът (1 паркинг кредит = 1лв), цената се заплащата с тях.
            По начало всеки акаунт има 0 паркинг кредити. Всеки клиент може да изиска изплащане в лева на натрупаните в
            акаунта си кредити от служителят в паркинга, в който се намира, като на ден
            могат да му бъдат изплатени до 100 паркинг кредита/ 100лв.
            2. Всеки клиент трябва да не привишава заявеният от него период в резервацията. При напускане на паркинг
            преди или в часа заявен за край на заплатеният период,
            клиентът получава 50% от заплатената от него сума за резервацията си под формата на паркинг кредити в
            акаунта си. • Ако клиентът закъснее за освобождаване на мястото си, но не повече от 15 минути, той няма да
            получи 50-те % компенсация, но няма и да има никакви последствия. Ако обаче надвиши 15-те минути аванс,
            шофьорът ще получи 10лв глоба от паркинга, които ще бъдат взети от паркинг кредитите му в акаунта (ако няма
            достатъчно, в акаунта му ще има отрицателна стойност на паркинг кредити и при следващата си резервация, ще
            трябва да я компенсира).След като клиент надвиши и 15-те си минути толеранс, освен глобата, която ще бъде
            иззета от акаунта му, той ще бъде прехвърлен към отделът за неправомерно паркиране, които се очаква да се
            отзоват до 45 минути и ще бъде санкциониран от тях по закона за неправомерно паркиране.
        </p>
        <h3 style="text-align: center;">ПРОЗОРЕЦ МОИТЕ РЕЗЕРВАЦИИ</h3>
        <p>Тук потребителят може да намери всички свои резервации, които все още не са завършили. Съответно е показана
            информацията за всяка една от тях.
            Освен информацията клиентът може да промени рег. номер на автомобила, за който е резервацията, стига все още
            да не е стигнал на паркинга. Автомобили, с различна
            регистрация от заявената в резервациите не се допускат. Клиентът също може да удълци престоя си с 1 час,
            стига капацитетът на паркинга да го позволява.
            Последната опция пред потребителя е да откаже резервацията, като ако е час преди тя да започне, ще му бъде
            възстановена цялата сума, в противен случай, ще му бъде
            възстановена 50% от сумата.
        </p>
        <h3 style="text-align: center;">ПОТРЕБИТЕЛ СЪС СЛУЖЕБЕН АКАУНТ</h3>
        <p>Ако потребителят е служител на някой от паркингите и съответно се идентифицира със служебният си акаунт,
            системата ще го разпознае и съответно ще му предостави
            портал, който да използва, по време на работа. Той ще има достъп до три страници - "Заети места",
            "Резервации", "Клиенти".
            В "Заети места", ще вижда всички заети места в момента и съотвтно информация за резервацията, която тече.
            При напускане на някой клиент, той трябва да избере бутона "Освобождава се",
            което ще заяви резервацията като завършила и местото като свободно.
            В "Резервации", Служителят ще вижда хронологично подредени всички резервации, които все още не са започнали.
            При идване на клиент на паркинга, той ще сравнява регистрационният му номер,
            с тези в резеревациите и съответно при съвпадане, ще избира "Активирай". По този начин ще заявява
            резервацията като започнала и мястото като заето.
            В "Клиенти", ще може да търси клиент по имейл, да проверява наличните му кредити и съответно при желание от
            клиента да му ги изплати в лв.
        </p>
        <button class="btn" (click)="close()">Close</button>
    </div>
</div>