igx-time-picker {
    width: 400px;
}



table {
    border-collapse: collapse;
    width: 45%;
    margin: auto;
}

th,
td {
    border: 2px solid #405f7e;
    padding: 2px;
    text-align: center;
}

th {
    text-align: center;
}

.btn {
    width: 170px !important;
}

.head {
    text-align: center;
    margin-top: 15px;
    font-family: cursive;
    font-weight: 600;
    margin-bottom: 5px;
}

.pricesHead {
    margin: auto;
    text-align: center;
    font-family: cursive;
}
.subHead{
    text-align: center; font-family: cursive;
}