<div>
    <div class="modalBodyContainter">

        <body style="background-color: transparent;">
            Бихте ли дали достъп до местоположението ви, за да можете да видите своята локация до тази на паркинга.
            <div *ngIf="geolocationService.denied">Трябва да го направите през настройките на браузъра</div>
        </body>
        <div class="modalButtons">
            <button (click)="onSubmit()" type="button" class="btn " style="margin: 10px">Да</button>
            <button (click)="onNo()" type="button" class="btn " style="margin: 10px">Не</button>
            <button (click)="onClose()" type="button" class="btn " style="margin: 10px">Откажи</button>
        </div>
    </div>
</div>