<div>
    <div class="modalBodyContainter">

        <body style="background-color: transparent;">
            Would you like to give us access to your position,
            to be able to offer you the nearest parkings ?
            <div *ngIf="geolocationService.denied">You have to give permission to geolocation position for
                this site in your browser's settings</div>
        </body>
        <div class="modalButtons">
            <button (click)="onSubmit()" type="button" class="btn " style="margin: 10px">Yes</button>
            <button (click)="onNo()" type="button" class="btn " style="margin: 10px">No</button>
            <button (click)="onClose()" type="button" class="btn " style="margin: 10px">Cancel</button>
        </div>
    </div>
</div>