<div>
  <div class="modalBodyContainter" style="user-select: none;">
    <div class="row">
      <h3 *ngIf="!isInEditMode">Изберете период, за който искате да резервирате място в паркинг</h3>
      <h3 *ngIf="isInEditMode">Изберете новият период, за който искате да бъде резервацията ви</h3>
      <app-date-picker [dateRangePicker]="true" (onEndDateRangeChangeEvent)="onRangeSelected()"></app-date-picker>
    </div>

    <div class="row">
      <button style="width: 48%; margin: auto; background-color: #55595d82;" *ngIf="showTimePickerForStart"
        (click)="timePickerService.timeForStartPeriod = null" type="button" class="btn btn-primary" data-toggle="modal"
        data-target=".bd-example-modal-sm16">час за начало</button>
      <button style="width: 48%; background-color: #55595d82;  margin: auto;" *ngIf="showTimePickerForEnd" type="button"
        class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm17">час за край</button>
    </div>
    <div
      *ngIf="datePickerService.dateRangePickerStartDate !== null && datePickerService.dateRangePickerEndDate !== null  && timePickerService.timeForStartPeriod !== null && timePickerService.timeForEndPeriod !== null && errorPeriod()">
      {{this.error}}
    </div>
    <div
      *ngIf="datePickerService.dateRangePickerStartDate !== null && datePickerService.dateRangePickerEndDate !== null  && timePickerService.timeForStartPeriod !== null && timePickerService.timeForEndPeriod !== null && !errorPeriod()">
      <div *ngIf="!isInEditMode">
        <h3>Въведете регистрационен номер на автомобилът, за който ще бъде резервирано мястото:</h3>
        <form class="example-form" style="margin-bottom: 10px;">
          <input type="text" placeholder="" [formControl]="control" [matAutocomplete]="auto"
            [(ngModel)]="registrationNumberForTheReservation" (blur)="clickedOutsideInput()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let regNumber of filteredRegNumbers | async" [value]="regNumber">
              {{regNumber}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>

      <div *ngIf="registrationNumberForTheReservation!= null && registrationNumberForTheReservation!= ''">
        <h3>Резервирай парко място за автомобил с регистрационен номер {{registrationNumberForTheReservation}} от
          {{timePickerService.timeForStartPeriod?.getHours()}}:{{timePickerService.timeForStartPeriod?.getMinutes()}} на
          {{datePickerService.dateRangePickerStartDate?.getDate()}}.{{datePickerService.dateRangePickerStartDate?.getMonth()! + 1}}.{{datePickerService.dateRangePickerStartDate?.getFullYear()}}
          до {{timePickerService.timeForEndPeriod?.getHours()}}:{{timePickerService.timeForEndPeriod?.getMinutes()}} на
          {{datePickerService.dateRangePickerEndDate?.getDate()}}.{{datePickerService.dateRangePickerEndDate?.getMonth()! + 1}}.{{datePickerService.dateRangePickerEndDate?.getFullYear()}}
        </h3>
      </div>
      <div style="    display: flex;">
        <button [disabled]="registrationNumberForTheReservation == null || registrationNumberForTheReservation == ''"
          class="btn btn-info" style="margin:auto" (click)="onSubmit()">Провери за свободни места</button>
        <button class="btn" style="margin:auto" (click)="cancel()">Откажи</button>
      </div>

      <div *ngIf="isInEditMode">
        <h3>Новият период на резервацията да започва от
          {{timePickerService.timeForStartPeriod?.getHours()}}:{{timePickerService.timeForStartPeriod?.getMinutes()}} на
          {{datePickerService.dateRangePickerStartDate?.getDate()}}.{{datePickerService.dateRangePickerStartDate?.getMonth()!+1}}.{{datePickerService.dateRangePickerStartDate?.getFullYear()}}
          до {{timePickerService.timeForEndPeriod?.getHours()}}:{{timePickerService.timeForEndPeriod?.getMinutes()}} на
          {{datePickerService.dateRangePickerEndDate?.getDate()}}.{{datePickerService.dateRangePickerEndDate?.getMonth()!
          + 1}}.{{datePickerService.dateRangePickerEndDate?.getFullYear()}}
        </h3>
        <div class="row" *ngIf="timePickerService.endPeriodTimeIsSelected">
          <button class="btn btn-info" (click)="onSubmit()">Провери дали е възможна промяната на периода</button>
          <button (click)="cancel()">Откажи</button>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>