
.modal{
    width: 100%;
    height: 100%;
}
.modalBodyContainter{
    /* width: 1500px;
    height: 1500px; */
    margin : 50px;
    text-align: center;
    
}
.disabled{
    color: grey;
}
.newPeriodBtn{
    width: 100px;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.timePickerModal{
    width : 125px
}
