<svg viewBox="0 0 960 170" class="welcome-svg">
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="80%">EASY PARKING</text>
    <text text-anchor="middle" x="52%" y="80%">EASY PARKING</text>

  </symbol>

  <g class="g-ants">
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
  </g>
</svg>
<h1 class="test welcome">
  <span>Какво </span>
  <span>ще </span>
  <span>желаете</span>
  <span>?</span>
</h1>

<div class="no-select">
  <div class=" welcomeMenu align-middle" style="    padding-top: 2%">
    <div class="row welcomeMenu"><button (click)="openRequestPositionModal()" type="button"
        class="btn btn-info btn-group btn-group-lg  text-center align-middle">Търся паркинг</button></div>

    <div class="row welcomeMenu" *ngIf="authServices.isLogged"><button (click)="showModal2(childModal2)" type="button"
        data-bs-toggle="modal" data-bs-target="modal"
        class="btn btn-info btn-group btn-group-lg  text-center align-middle">Резервирай за...</button></div>

    <ng-template #childModal2>
      <app-period-picker [element]="modalRef!"></app-period-picker>
    </ng-template>

    <div class="row welcomeMenu" *ngIf="!authServices.isLogged"><button (click)="onLogin()" type="button"
        class="btn btn-info btn-group btn-group-lg  text-center align-middle">Влез</button></div>
    <div class="row welcomeMenu" *ngIf="!authServices.isLogged"><button (click)="signUp()" type="button"
        class="btn btn-info btn-group btn-group-lg  text-center align-middle">Регист<span
          style="    padding-left: 5px;">рирай</span></button></div>
  </div>

  <a class="rules" (click)="openRules()">Правила за ползване</a>
  <div>