<mat-card class="mat-elevation-z4 card">
    <mat-card-header>
        <mat-card-title>reservation Id {{reservation.id}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/reservation.png.png" />
    <mat-card-content>
        <p>Направена: {{reservation.createdResrvationTime! | date:"MMM dd, yyyy HH:mm"}}</p>
        <p>Платена от: {{reservation.startReservationPeriod! |date:"MMM dd, yyyy HH:mm"}}</p>
        <p>Платена до: {{reservation.endReservationPeriod |date:"MMM dd, yyyy HH:mm"}}</p>
        <p>Паркинг: {{parking?.name}}</p>
        <p>Адрес: {{parking?.address}}</p>
        <p>Рег. номер: {{reservation?.carRegNumber}}</p>
        <p *ngIf="!reservation?.isStarted">Започва след: {{startAfter()}}</p>
        <p *ngIf="reservation?.isStarted">Започнала</p>
        <p>Цена: {{reservation.price}}лв.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="!reservation?.isStarted" (click)="showModal3(childModal1)">Промени колата</button>
        <button *ngIf="reservation?.isStarted ||isReservationStartsSoon()" (click)="showModal(childModal4)"
            mat-button>+1ч.</button>
        <button mat-button *ngIf="!reservation?.isStarted" (click)="showModal2(childModal3)">Отмени</button>
    </mat-card-actions>
</mat-card>
<ng-template #childModal1>
    <app-edit-car-number-component (onUpdateNumber)="updatedCarNumber($event)" [reservation]="reservation"
        [element]="modalRef"></app-edit-car-number-component>
    <div></div>
</ng-template>
<ng-template #childModal3>
    <app-cancel-reservation (onCancelReservation)="onCancelReservation()" [reservation]="reservation"
        [element]="modalRef"></app-cancel-reservation>
    <div></div>
</ng-template>
<ng-template #childModal4>
    <app-add-one-hour (changedReservation)="changedReservation()" [reservation]="reservation"
        [element]="modalRef"></app-add-one-hour>
</ng-template>