<div *ngIf="dateRangePicker">
    <mat-form-field class="mat-form" appearance="fill">
        <form [formGroup]="dateRangeForm" (ngSubmit)="onFormSubmit()">
            <mat-date-range-input [rangePicker]="picker" [dateFilter]="myFilter">
                <input [(ngModel)]="datePickerService.dateRangePickerStartDate" (dateInput)="dateInput()"
                    (dateChange)="startDateRangeChange()" formControlName="start" matStartDate placeholder="Start date">
                <input [(ngModel)]="datePickerService.dateRangePickerEndDate" (dateChange)="endDateRangeChange()"
                    formControlName="end" matEndDate placeholder="End date">
            </mat-date-range-input>
            <span class="date">
                {{datePickerService.dateRangePickerStartDate | date}} -
                {{datePickerService.dateRangePickerEndDate | date}}
            </span>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </form>
    </mat-form-field>
</div>
<div *ngIf="!dateRangePicker">
    <mat-form-field>
        <input matInput [(ngModel)]="datePickerService.datePickerDate" (dateChange)="datePickerChange()"
            [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker" [dateFilter]="myFilter"></mat-datepicker-toggle>
        <mat-datepicker #picker [dateFilter]="myFilter"></mat-datepicker>
    </mat-form-field>
</div>