<h3 style="color: #aac64e;">Въведете имейл на юзерът, чиито кредити искате да изплатите в КЕШ.</h3>
<form class="example-form form">
  <input type="text" placeholder="" [matAutocomplete]="auto" [(ngModel)]="userEmail"
    [ngModelOptions]="{standalone: true}">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let user of users " [value]="user.email">
      {{user.email}}
    </mat-option>
  </mat-autocomplete>
</form>
<div class="credits" style="color: #aac64e;">{{credits}}</div>
<div class="buttons">
  <button class="btn" (click)="showUserCredits()">Check credits</button>
  <button class="btn" (click)="cashOut()">CASH OUT</button>
</div>