.form {
    width: 100%;
        justify-content: center; display: flex;
}

.credits{
    font-size: xx-large;
        font-family: cursive;
        text-align: center;
        margin-top: 4%;
}
.buttons {
    display: flex;
        justify-content: center;
}
.btn {
    margin-top: 50px;
          width: 48%;
          margin-right: 2%;
}