<div class="container payment-confirmation">
  <p>За да завършите резервацията трябва да сте съгласни с
    <a [routerLink]="" (click)="openRules()" class="rules-link">
      условията за ползване</a>
    на паркинга/приложението
  </p>
  <div class="form-check">
    <div (click)="aproved()">
      <input class="form-check-input" [(ngModel)]="approved" type="checkbox" value="" id="flexCheckDefault">
    </div>
    <label class="form-check-label" for="flexCheckDefault">
      Aproove
    </label>
  </div>
  <div *ngIf="approved ">
    <h3>Цената на резервацията е {{reservation?.price}} лв.</h3>
    <div *ngIf="paymessage">
      {{paymessage!}}
    </div>
    <div *ngIf="haveToPay">
      Можете да заплатите резервацията си чрез акаунт в payPal, или чрез дебитна карта.
      <app-paypal [amaunt]="amauntToPay!" (onApprove)="onApprove()"></app-paypal>
    </div>
  </div>
</div>
